.progress-indicator-value-0 { transform: translateX(-100%); }
.progress-indicator-value-1 { transform: translateX(-99%); }
.progress-indicator-value-2 { transform: translateX(-98%); }
.progress-indicator-value-3 { transform: translateX(-97%); }
.progress-indicator-value-4 { transform: translateX(-96%); }
.progress-indicator-value-5 { transform: translateX(-95%); }
.progress-indicator-value-6 { transform: translateX(-94%); }
.progress-indicator-value-7 { transform: translateX(-93%); }
.progress-indicator-value-8 { transform: translateX(-92%); }
.progress-indicator-value-9 { transform: translateX(-91%); }
.progress-indicator-value-10 { transform: translateX(-90%); }
.progress-indicator-value-11 { transform: translateX(-89%); }
.progress-indicator-value-12 { transform: translateX(-88%); }
.progress-indicator-value-13 { transform: translateX(-87%); }
.progress-indicator-value-14 { transform: translateX(-86%); }
.progress-indicator-value-15 { transform: translateX(-85%); }
.progress-indicator-value-16 { transform: translateX(-84%); }
.progress-indicator-value-17 { transform: translateX(-83%); }
.progress-indicator-value-18 { transform: translateX(-82%); }
.progress-indicator-value-19 { transform: translateX(-81%); }
.progress-indicator-value-20 { transform: translateX(-80%); }
.progress-indicator-value-21 { transform: translateX(-79%); }
.progress-indicator-value-22 { transform: translateX(-78%); }
.progress-indicator-value-23 { transform: translateX(-77%); }
.progress-indicator-value-24 { transform: translateX(-76%); }
.progress-indicator-value-25 { transform: translateX(-75%); }
.progress-indicator-value-26 { transform: translateX(-74%); }
.progress-indicator-value-27 { transform: translateX(-73%); }
.progress-indicator-value-28 { transform: translateX(-72%); }
.progress-indicator-value-29 { transform: translateX(-71%); }
.progress-indicator-value-30 { transform: translateX(-70%); }
.progress-indicator-value-31 { transform: translateX(-69%); }
.progress-indicator-value-32 { transform: translateX(-68%); }
.progress-indicator-value-33 { transform: translateX(-67%); }
.progress-indicator-value-34 { transform: translateX(-66%); }
.progress-indicator-value-35 { transform: translateX(-65%); }
.progress-indicator-value-36 { transform: translateX(-64%); }
.progress-indicator-value-37 { transform: translateX(-63%); }
.progress-indicator-value-38 { transform: translateX(-62%); }
.progress-indicator-value-39 { transform: translateX(-61%); }
.progress-indicator-value-40 { transform: translateX(-60%); }
.progress-indicator-value-41 { transform: translateX(-59%); }
.progress-indicator-value-42 { transform: translateX(-58%); }
.progress-indicator-value-43 { transform: translateX(-57%); }
.progress-indicator-value-44 { transform: translateX(-56%); }
.progress-indicator-value-45 { transform: translateX(-55%); }
.progress-indicator-value-46 { transform: translateX(-54%); }
.progress-indicator-value-47 { transform: translateX(-53%); }
.progress-indicator-value-48 { transform: translateX(-52%); }
.progress-indicator-value-49 { transform: translateX(-51%); }
.progress-indicator-value-50 { transform: translateX(-50%); }
.progress-indicator-value-51 { transform: translateX(-49%); }
.progress-indicator-value-52 { transform: translateX(-48%); }
.progress-indicator-value-53 { transform: translateX(-47%); }
.progress-indicator-value-54 { transform: translateX(-46%); }
.progress-indicator-value-55 { transform: translateX(-45%); }
.progress-indicator-value-56 { transform: translateX(-44%); }
.progress-indicator-value-57 { transform: translateX(-43%); }
.progress-indicator-value-58 { transform: translateX(-42%); }
.progress-indicator-value-59 { transform: translateX(-41%); }
.progress-indicator-value-60 { transform: translateX(-40%); }
.progress-indicator-value-61 { transform: translateX(-39%); }
.progress-indicator-value-62 { transform: translateX(-38%); }
.progress-indicator-value-63 { transform: translateX(-37%); }
.progress-indicator-value-64 { transform: translateX(-36%); }
.progress-indicator-value-65 { transform: translateX(-35%); }
.progress-indicator-value-66 { transform: translateX(-34%); }
.progress-indicator-value-67 { transform: translateX(-33%); }
.progress-indicator-value-68 { transform: translateX(-32%); }
.progress-indicator-value-69 { transform: translateX(-31%); }
.progress-indicator-value-70 { transform: translateX(-30%); }
.progress-indicator-value-71 { transform: translateX(-29%); }
.progress-indicator-value-72 { transform: translateX(-28%); }
.progress-indicator-value-73 { transform: translateX(-27%); }
.progress-indicator-value-74 { transform: translateX(-26%); }
.progress-indicator-value-75 { transform: translateX(-25%); }
.progress-indicator-value-76 { transform: translateX(-24%); }
.progress-indicator-value-77 { transform: translateX(-23%); }
.progress-indicator-value-78 { transform: translateX(-22%); }
.progress-indicator-value-79 { transform: translateX(-21%); }
.progress-indicator-value-80 { transform: translateX(-20%); }
.progress-indicator-value-81 { transform: translateX(-19%); }
.progress-indicator-value-82 { transform: translateX(-18%); }
.progress-indicator-value-83 { transform: translateX(-17%); }
.progress-indicator-value-84 { transform: translateX(-16%); }
.progress-indicator-value-85 { transform: translateX(-15%); }
.progress-indicator-value-86 { transform: translateX(-14%); }
.progress-indicator-value-87 { transform: translateX(-13%); }
.progress-indicator-value-88 { transform: translateX(-12%); }
.progress-indicator-value-89 { transform: translateX(-11%); }
.progress-indicator-value-90 { transform: translateX(-10%); }
.progress-indicator-value-91 { transform: translateX(-9%); }
.progress-indicator-value-92 { transform: translateX(-8%); }
.progress-indicator-value-93 { transform: translateX(-7%); }
.progress-indicator-value-94 { transform: translateX(-6%); }
.progress-indicator-value-95 { transform: translateX(-5%); }
.progress-indicator-value-96 { transform: translateX(-4%); }
.progress-indicator-value-97 { transform: translateX(-3%); }
.progress-indicator-value-98 { transform: translateX(-2%); }
.progress-indicator-value-99 { transform: translateX(-1%); }
.progress-indicator-value-100 { transform: translateX(0%); }